@model ApplicationCentreFormation.Models.Formateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifHoraire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifHoraire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotPass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
